<% for (let item of items) { %>

    <div class="row featurette">
      <div class="col-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="<%=item.photo_url %>"/>
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->

      </div>
  <div class="col-7" ><a href="/<%=item.item_id%>" style="text-decoration: none; color: black">
    <h2 class="item-heading d-flex justify-content-between"> <span> <%= item.title %></span> <span><%= '$'+item.price/100 %></span></h2>
    <p class="lead"><%= item.description.substr(0, 80)+'...' %></p>

  </div>

</div>
    <p class="posted-by">Posted by: <%=item.posted_by%></p>
    <p class="date-posted d-flex justify-content-end"><strong>Date Posted:</strong> <%= item.posted_time %></p>
</a>
<hr class="featurette-divider">
<% } %>
