<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Messages</title>

    <link rel="stylesheet" href="/styles/messages.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- for adding jquery commands -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- for adding jquery event listeners (***see tweeter***) -->
    <script type="text/javascript" src="/scripts/messages_client.js"></script>

</head>
<body>
  <nav class="header">  <%- include('partials/_header') %></nav>

  <h1>Your Conversations:</h1>
  <% if (messages.length > 0) { %>
  <div class="messages_container">
    <% for (let message of messages) { %>

      <article class="message_box" onclick="location.href='messages/<%= message.item_id %>/<%= message.receiver_id %>/<%= message.sender_id %>'">

        <div class="keep_left">

          <div class="image_users">
            <img src="<%= message.item_image %>" class="picture" alt="">
            
            <div class="message_contact">
              <h1> In talks with: <%= message.other_user %></h1>
              <h1>Regarding: <%= message.item_title %></h1>
            </div>
          </div>
          
          <div class="time_stamp">
            last message sent: <%= message.time_sent.toUTCString() %>
          </div>
          
        </div>
        
        <div class="open_conversation">
          <% if (message.is_sold) { %>
            <button class="sale yellow"> SOLD</button>
          <% } else { %>
            <button class="sale green">STILL AVAILABLE</button>
          <% } %>
        </div>

      </article>

      <% } %>
    </div>

    <% } else { %>
      <h4>You have no messages</h4>
    <% } %>
</body>
</html>